<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="sensor_kit_macro" params="parent x y z roll pitch yaw">
    <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
    <xacro:include filename="$(find vls_description)/urdf/VLS-128.urdf.xacro"/>
    <!--
    <xacro:include filename="$(find ouster_description)/urdf/OUSTER-128.urdf.xacro"/>
    -->
    <xacro:include filename="$(find camera_description)/urdf/monocular_camera.xacro"/>
    <xacro:include filename="$(find imu_description)/urdf/imu.xacro"/>

    <xacro:arg name="gpu" default="false"/>
    <xacro:arg name="config_dir" default="$(find lexus3_sensor_kit_description)/config"/>

    <xacro:property name="sensor_kit_base_link" default="sensor_kit_base_link"/>

    <joint name="${sensor_kit_base_link}_joint" type="fixed">
      <origin rpy="${roll} ${pitch} ${yaw}" xyz="${x} ${y} ${z}"/>
      <parent link="${parent}"/>
      <child link="${sensor_kit_base_link}"/>
    </joint>
    <link name="${sensor_kit_base_link}">
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </link>

    <!-- sensor -->
    <xacro:property name="calibration" value="${xacro.load_yaml('$(arg config_dir)/sensor_kit_calibration.yaml')}"/>
 
 
    <xacro:VLS-128 parent="sensor_kit_base_link" name="os_center_a" topic="/points_raw" hz="10" samples="220" gpu="$(arg gpu)">
      <origin
        xyz="${calibration['sensor_kit_base_link']['lexus3/os_center_a']['x']}
             ${calibration['sensor_kit_base_link']['lexus3/os_center_a']['y']}
             ${calibration['sensor_kit_base_link']['lexus3/os_center_a']['z']}"
        rpy="${calibration['sensor_kit_base_link']['lexus3/os_center_a']['roll']}
             ${calibration['sensor_kit_base_link']['lexus3/os_center_a']['pitch']}
             ${calibration['sensor_kit_base_link']['lexus3/os_center_a']['yaw']}"
      />
    </xacro:VLS-128>


      <xacro:VLS-128 parent="sensor_kit_base_link" name="os_left_a" topic="/points_raw" hz="10" samples="220" gpu="$(arg gpu)">
      <origin
        xyz="${calibration['sensor_kit_base_link']['lexus3/os_left_a']['x']}
             ${calibration['sensor_kit_base_link']['lexus3/os_left_a']['y']}
             ${calibration['sensor_kit_base_link']['lexus3/os_left_a']['z']}"
        rpy="${calibration['sensor_kit_base_link']['lexus3/os_left_a']['roll']}
             ${calibration['sensor_kit_base_link']['lexus3/os_left_a']['pitch']}
             ${calibration['sensor_kit_base_link']['lexus3/os_left_a']['yaw']}"
      />
    </xacro:VLS-128>


    <xacro:VLP-16 parent="sensor_kit_base_link" name="os_right_a" topic="/points_raw" hz="10" samples="220" gpu="$(arg gpu)">
      <origin
        xyz="${calibration['sensor_kit_base_link']['lexus3/os_right_a']['x']}
             ${calibration['sensor_kit_base_link']['lexus3/os_right_a']['y']}
             ${calibration['sensor_kit_base_link']['lexus3/os_right_a']['z']}"
        rpy="${calibration['sensor_kit_base_link']['lexus3/os_right_a']['roll']}
             ${calibration['sensor_kit_base_link']['lexus3/os_right_a']['pitch']}
             ${calibration['sensor_kit_base_link']['lexus3/os_right_a']['yaw']}"
      />
    </xacro:VLP-16>

    

    <!-- camera -->
   
    <xacro:monocular_camera_macro
      name="zed"
      parent="sensor_kit_base_link"
      namespace=""
      x="${calibration['sensor_kit_base_link']['lexus3/_left_camera_frame']['x']}"
      y="${calibration['sensor_kit_base_link']['lexus3/_left_camera_frame']['y']}"
      z="${calibration['sensor_kit_base_link']['lexus3/_left_camera_frame']['z']}"
      roll="${calibration['sensor_kit_base_link']['lexus3/_left_camera_frame']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['lexus3/_left_camera_frame']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['lexus3/_left_camera_frame']['yaw']}"
      fps="30"
      width="800"
      height="400"
      fov="1.3"
    />
  

  
    
  

    <!-- gnss -->
    <xacro:imu_macro
      name="gps_imu"
      parent="sensor_kit_base_link"
      namespace=""
      x="${calibration['sensor_kit_base_link']['lexus3/duro_gps_imu']['x']}"
      y="${calibration['sensor_kit_base_link']['lexus3/duro_gps_imu']['y']}"
      z="${calibration['sensor_kit_base_link']['lexus3/duro_gps_imu']['z']}"
      roll="${calibration['sensor_kit_base_link']['lexus3/duro_gps_imu']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['lexus3/duro_gps_imu']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['lexus3/duro_gps_imu']['yaw']}"
      fps="100"
    />

   
  

    <!-- lidar -->
   
  </xacro:macro>
</robot>
